.wrap-footer {
  margin: 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 20px;
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
  }
}
