.contentService {
  width: 420px;
  margin-left: 70px;
  .eventProduct {
    margin-top: 20px;
  }
  @media screen and (max-width: 500px) {
    margin-left: 30px;
  }
}
.icon {
  align-items: center;
  display: flex;
  width: 350px;
  @media screen and (max-width: 500px) {
    width: 270px;
  }
  margin-top: 20px;
  a {
    text-decoration: none;
    color: #fbd784;
    margin-right: 15px;
    font-family: "Archivo";
    font-style: normal;
    font-weight: 420;
    font-size: 14px;
  }
  img {
    width: 20px;
    height: 11px;
  }
}
