.position-left {
  position: absolute;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-size: 150px;
  line-height: 240px;
  color: #ffffff;
  opacity: 0.155;
  z-index: 01;
  bottom: -105px;
  right: -110px;
}
